
<form action="/favourite" method="POST">
            <input type="hidden" name="_id" value="<%= home._id %>">
            <button
              class="px-4 py-2 border cursor-pointer border-red-500 text-red-500 rounded-xl transition-all duration-300 ease-out hover:bg-red-50 hover:scale-[1.04] active:scale-[0.98]">
              ❤️ Add to Favourite
            </button>
          </form>